*{
	margin: 0;
	padding: 0;
}
.img{
    background-image: url(https://i.pinimg.com/564x/36/a8/28/36a828eaa99afad899c0feb70d8bf05f.jpg );
   background-size: cover;
   height: 100vh;

}
.img1 a:first-child{
/*	margin-left: 100px;*/
}
.img1 a{
/*   margin-left: 100px;*/
/*   text-align: center;*/
   padding-top: 30px;
   margin-right: 10px;
}
a{
	font-size: 25px;
	color: black;
	text-decoration: none;
/*	border-radius: 40px;*/
}
.ortu1{
	display: flex;
    padding-left: 35px;
    margin-top: 20px;
    background-color: peachpuff;
    margin-right:30px ;
    margin-left: 30px;
    border-radius: 40px;
	}

img{
	height: 50%;
	width: 30px;
	margin-right: 10px;
	border-radius: 30px;
	}

.h4{
	margin-top: 60px;
	}

.e{
	display:inline-block ;
	padding: 50px;
	margin-bottom: 500px;
	width: 500px;
	border-radius: 50px;
		}

img{
	width: 300px;
	height: 400px;
		}
h4{
	text-align: center;
	display: block;
}
.layar{
	display: inline-block;
	padding-top: 15px;
	margin-bottom: 20px;
    width: 100%;
}
.layer3{
	padding: 50px;
	background-color: lightblue;
	border-radius: 50px;
}
.w,.a,.b{
	display:inline-block ;
	width: 400px;
	border-radius: 50px;
}

p,button{
    text-align: center;
	font-weight: bold;
	border-radius: 25px;
	background: transparent;
 }

.w hr{
	align-items: center;
	width: 100px;
	font-weight: bold;
	margin-left: 600px;
}
.w img{
	display: block;
	border-radius: 25px;
	padding: 15px;
	margin: 0 auto;	
	}

.a img{
	display: block;
	border-radius: 25px;
    padding: 15px;
    margin: 0 auto;
}

.b img{
	display: block;
	border-radius: 25px;
	padding: 15px;
	margin: 0 auto;	
}

hr{
	height: 5px;
	background-color: white;
	width: 100px;
	margin: 0 auto;
	text-align: center;
}
@media(max-width:644px){
	.img{
		
		width: 100%;
	}
	a{
		margin-left: 10px;
		padding-right: 30px;
		padding-left: 50px;
	}
	.w img{
		margin-right: 150px;
		border-radius: 25px;
	}
	.a img{
		margin-right: 150px;
	}
	.b img{
		margin-right: 150px;
	}
	button{
		margin-right: 50px;
	}
	.text{
		padding: 81px;
	}


}